  <li><a data-name="pop" href="#" alt="pop">Pop</li>
  <li><a data-name="rock" href="#" alt="rock">Rock</li>
  <li><a data-name="folk" href="#" alt="folk">Folk</li>
  <li><a data-name="rap" href="#" alt="rap">Rap</li>
  <li><a data-name="country" href="#" alt="country">Country</li>
  <li><a data-name="80s" href="#" alt="80's">80s</li>
 

