  <li><a data-name="pop" href="/#genre/pop" alt="pop">Pop</li>
  <li><a data-name="rock" href="/#genre/rock" alt="rock">Rock</li>
  <li><a data-name="folk" href="/#genre/folk" alt="folk">Folk</li>
  <li><a data-name="rap" href="/#genre/rap" alt="rap">Rap</li>
  <li><a data-name="country" href="/#genre/country" alt="country">Country</li>
  <li><a data-name="80s" href="/#genre/80s" alt="80's">80s</li>
 

